<h1> Lİste(pages/bul)</h1>
<div
typ></div>
<form>
    <div class="form-group">
        <label>id</label>
        <input
            type="text"
            name="id"
            class="form-control"
            ngModel>
        
        </div>
        <div class="form-group">
            <label>CompanyCode</label>
            <input
                type="text"
                name="companyCode"
                class="form-control"
                ngModel>
            
            </div>
            <div class="form-group">
                <label>companyName</label>
                <input
                    type="text"
                    name="companyName"
                    class="form-control">
                
                </div>
                <div class="form-group">
                    <label>companyOffical</label>
                    <input
                        type="text"
                        name="companyOffical"
                        class="form-control">
                    
                    </div>
       
                    <div class="form-group">
                        <label>companyPhone</label>
                        <input
                            type="text"
                            name="companyPhone"
                            class="form-control">
                        
                        </div>
                        <div class="form-group">
                            <label>phone</label>
                            <input
                                type="text"
                                name="phone"
                                class="form-control">
                            
                            </div>
                            <div class="form-group">
                                <label>email</label>
                                <input
                                    type="text"
                                    name="email"
                                    class="form-control">
                                
                                </div>
                                <div class="form-group">
                                    <label>taxadminist</label>
                                    <input
                                        type="text"
                                        name="taxAdministration"
                                        class="form-control">
                                    
                                    </div>
                                    <div class="form-group">
                                        <label>taxNumber</label>
                                        <input
                                            type="text"
                                            name="taxNumber"
                                            class="form-control">
                                        
                                        </div>
                                        <div class="form-group">
                                            <label>adress</label>
                                            <input
                                                type="text"
                                                name="adress"
                                                class="form-control">
                                            
                                            </div>
                                            <div class="form-group">
                                                <label>distrit</label>
                                                <input
                                                    type="text"
                                                    name="district"
                                                    class="form-control">
                                                
                                                </div>
                                                <div class="form-group">
                                                    <label>province</label>
                                                    <input
                                                        type="text"
                                                        name="province"
                                                        class="form-control">
                                                    
                                                    </div>
                                                    <div class="form-group">
                                                        <label>status</label>
                                                        <input
                                                            type="text"
                                                            name="status"
                                                            class="form-control">
                                                        
                                                        </div>
                                                        <button type="submit" class="btn btn-primary">save</button>

                        </form>